<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Prerequisites 3</h1>
        <h3 class="mb-5"><em>Personalized Learning Planner</em></h3>


        <a class="btn btn-primary btn-xl" href="{{ url_for('pre3_student_dashboard') }}"
        >
            Get Started
            <svg class="bi bi-arrow-right-short" fill="currentColor" height="16" viewBox="0 0 16 16"
                 width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"
                      fill-rule="evenodd"/>
            </svg>
        </a>
        <br/>
        <div style="margin-top: 10px;">
            <a href="#about"
            >Find Out More</a>
        </div>

    </div>
</header>