{% extends "pre3/base.html" %}
{% block content %}
    <style>
        .slide-in {
            animation: slideIn 1s ease forwards;
            opacity: 0;
            transform: translateY(-50px);
        }

        @keyframes slideIn {
            0% {
                opacity: 0;
                transform: translateY(-50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .is-google, .is-facebook, .is-x {
            flex: 0 0 30%;
        }
    </style>

    <div class="column is-4 is-offset-4 slide-in">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('pre3_login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password_confirm" placeholder="Confirm Password">
                    </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
            </form>
            <div class="buttons-container">
                <a href="{{ url_for('google') }}" class="button is-block is-google is-large is-fullwidth">
                    <img src="../../static/img/google_icon.png" alt="Google Icon" style="max-width: 100%; max-height: 100%;">
                </a>
                <a href="{{ url_for('facebook') }}" class="button is-block is-facebook is-large is-fullwidth">
                    <img src="../../static/img/facebook_icon.png" alt="Facebook Icon" style="max-width: 100%; max-height: 100%;">
                </a>
                <a href="{{ url_for('x_twitter') }}" class="button is-block is-x is-large is-fullwidth">
                    <img src="../../static/img/x_icon.png" alt="X Icon" style="max-width: 100%; max-height: 100%;">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
