<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        alt="MDB Logo"
        height="16"
        loading="lazy"
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-mdb-collapse-init
      data-mdb-target="#navbarButtonsExample"
      type="button"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button
          class="btn btn-link px-3 me-2"
          data-mdb-ripple-init
          type="button"
        >
          Login
        </button>
        <button class="btn btn-primary me-3" data-mdb-ripple-init type="button">
          Sign up for free
        </button>
        <a
          class="btn btn-dark px-3"
          data-mdb-ripple-init
          href="https://github.com/mdbootstrap/mdb-ui-kit"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<script>
  // Initialization for ES Users
  import { Collapse, initMDB, Ripple } from "mdb-ui-kit";

  initMDB({ Collapse, Ripple });
</script>
