<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <img src="{{ current_user.avatar_url }}" width="52"/>
            <a href="{{ url_for('index') }}" style="padding-left: 10px"
            >{{ current_user.name }}</a>
        </li>
        <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
        <li class="sidebar-nav-item"><a href="{{ url_for('pre3_student_dashboard') }}">Dashboard</a></li>
        <li class="sidebar-nav-item"><a href="{{ url_for('tree') }}">Learning Tree</a></li>
        <li class="sidebar-nav-item"><a href="#about">About</a></li>
        <li class="sidebar-nav-item"><a href="#services">Services</a></li>
        <li class="sidebar-nav-item"><a href="#contact">Contact</a></li>
    </ul>
</nav>

