{% extends "pre3/base.html" %}

{% block content %}

<link
        href="{{ url_for('static', filename='css/course/create.css') }}"
        rel="stylesheet"
/>

{% include "pre3/course/create.html" %}

<script>

    $("#addPCourseForm").submit(function (event) {
        // prevent default html form submission action
        event.preventDefault();


        // pack the inputs into a dictionary
        var formData = {};
        $(":input").each(function () {
            var key = $(this).attr('name');
            var val = $(this).val();
            if (key != 'submit') {
                formData[key] = val;
            }
        });


        var $form = $(this);
        var url = $form.attr("action");


        // make a POST call to the back end w/ a callback to refresh the table
        $.post(url, formData, function (contact_data) {
            window.location.href = "{{ url_for('pre3_teacher') }}";
        });
    });

</script>

{% endblock %}