{% extends "pre3/base.html" %}

{% block content %}

<style>
    /* Common styles for text and form */
    .black-color {
        font-family: 'Mulish', sans-serif;
        color: #373F41;
        font-weight: bold;
    }

    /* Styles for the form container */
    .container_form {
        background-color: #f2f2f2;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        max-width: 600px; /* Increased maximum width to accommodate horizontal layout */
        margin: auto; /* Center the form horizontally */
        padding: 20px;
    }

    /* Styles for form labels */
    .container_form label {
        display: inline-block; /* Display labels inline */
        width: 100px; /* Set width of labels */
        margin-right: 10px; /* Add some right margin between label and input */
        text-align: right; /* Align text to the right for labels */
    }

    /* Styles for form inputs */
    .container_form input[type="text"],
    .container_form textarea, #password, #email, #password_confirm {
        width: calc(100% - 120px); /* Subtract label width from 100% to calculate input width */
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }


    /* Styles for form buttons */
    .container_form input[type="submit"],
    .container_form button {
        background-color: rgb(46, 113, 171);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 10px;
        transition-duration: 0.4s;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
        .container_form {
            max-width: 90%; /* Reduce the maximum width on smaller screens */
        }

        .container_form label {
            display: block; /* Change label display to block for stacked layout on smaller screens */
            width: 100%; /* Set label width to 100% */
            text-align: left; /* Align text to the left for labels on smaller screens */
            margin-bottom: 5px; /* Reduce bottom margin for labels on smaller screens */
        }

        .container_form input[type="text"],
        .container_form textarea {
            width: 100%; /* Set input width to 100% on smaller screens */
        }

        #credits, #year {
            width: calc(50% - 100px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }
    }

    textarea {
        resize: none;
    }

    button:hover, .container_form input[type="submit"]:hover {
        background-color: rgb(116, 152, 184);
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        50% {
            transform: scale(0.8);
        }
    }

    .slide-in {
        animation: slideIn 1s ease forwards;
        opacity: 0;
        transform: translateY(-50px);
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .head {
        font-family: 'Mulish', sans-serif;
        color: #373F41;
        font-weight: bold;
        font-size: 120%;
        margin-bottom: 10px;
    }
</style>

<div class="container_form black-color slide-in" id="add-edit">
    <h2 class="head">Create User</h2>
    <form id="addUserForm" method="POST">
        <label for="name">Name:</label>
        <input 
          id="name" 
          name="name" 
          placeholder="Name.." 
          required type="text"/>
        <br></br>
        <label for="user_id">User ID:</label>
        <input 
          id="user_id" 
          maxlength="9" 
          name="user_id" 
          placeholder="user_id.." 
          required type="text"
          pattern=".{9}"
          title="User ID must have 9 character"/>
        <br></br>
        <label for="email">Email:</label>
        <input 
          id="email" 
          name="email" 
          placeholder="email.." 
          required type="email"/>
        <br></br>
        <label for="password">Password:</label>
        <input 
          id="password" 
          name="password" 
          placeholder="password..." 
          pattern="^(?=.*[A-Za-z])(?=.*\d).+$" 
          required 
          type="password" 
          title="Password must contain at least one letter and one number"/>
        <br></br>
        <label for="password_confirm">Confirm Password:</label>
        <input 
          id="password_confirm" 
          name="password_confirm" 
          placeholder="password_confirm..." 
          required
          type="password"/>
        <br></br>
        <div class="field">
            <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
              Show Password
          </div>

        <input name="role" type="hidden" value="student"/>
        <input name="submit" type="submit" value="Create User"/>
        <a class="back" href="{{ url_for('pre3_admin') }}">
            <button id="cancel_form" type="button">Cancel</button>
        </a>
    </form>
</div>


<script>

  var password = document.getElementById("password")
  , confirm_password = document.getElementById("password_confirm");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

confirm_password.onchange = validatePassword;
password.onkeyup = validatePassword;

function togglePasswordVisibility() {
    var passwordField = document.getElementById("password");
    var password_conField = document.getElementById("password confirm");
    var checkBox = document.getElementById("showPassword");
    
    if (checkBox.checked) {
      passwordField.type = "text";
      password_conField.type = "text";
    } else {
      passwordField.type = "password";
      password_conField.type = "password";
    }
  }


    $("#addUserForm").submit(function (event) {
        // Prevent default HTML form submission action
        event.preventDefault();

        // Retrieve password and confirm password values
        var password = $("#password").val();
        var confirmPassword = $("#password_confirm").val();

        // Check if passwords match
        if (password !== confirmPassword) {
            // Display an error message or take appropriate action
            alert("Passwords do not match.");
            return; // Exit the function early
        }

        // If passwords match, proceed with form submission
        var formData = {};
        $(":input").each(function () {
            var key = $(this).attr('name');
            var val = $(this).val();
            if (key !== 'submit') {
                formData[key] = val;
            }
        });

        var $form = $(this);
        var url = $form.attr("action");

        // Make a POST call to the backend with a callback to refresh the table
        $.post(url, formData, function (contact_data) {
            window.location.href = "{{ url_for('pre3_admin') }}";
        });
    });
</script>
{% endblock %}