{% extends "pre3/base.html" %}
{% block content %}

<style>
    .slide-in {
        animation: slideIn 1s ease forwards;
        opacity: 0;
        transform: translateY(-50px);
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>


<div class="grid-container">
    <div class=" block-style">
        <div style="text-align: left;">
            <label for="option-all" style="color: black;">
                All&nbsp
                <input type="radio" id="option-all" name="list" value="all" checked>
            </label>
            
            <label for="option-student" style="color: black;">
                Student&nbsp
                <input type="radio" id="option-student" name="list" value="student">
            </label>
            
            <label for="option-teacher" style="color: black;">
                &nbspTeacher&nbsp
                <input type="radio" id="option-teacher" name="list" value="teacher">
            </label>            
        </div>
        <div style="text-align: right;">
            <label for="search" style="color: black;">Search ID</label>
            <input type="text" id="search" placeholder="" style="border: none; height: 50px; width: 40%;">
            <button class="button" type="submit" style="height: 50px;">
                <img src="../../static/img/Vector.png" alt="Submit">
            </button>
        </div>
    </div>
    </br>
    <div class="head block-style" style="background-color: #d8d8d8; height: 40px;" >
    </div>

    {% for user in users %}
    <div class="item1 block-style {{ user.role }}">
        <div class="item-name" style="text-align: left; color: black;">
            <span>
                &nbsp&nbsp{{ user.user_id }}
            </span>
            <span>
                &nbsp&nbsp&nbsp&nbsp{{ user.name }}
            </span>
        </div>
        <div style="text-align: right;">
            <form action="{{ url_for('pre3_admin') }}" method="POST"></form>
                <input type="radio" id="option1" name="{{ user.user_id }}" value="student" {% if user.role == "student" %} checked {% endif %}>
                <label for="student" style="color: black;">Student</label>
                <input type="radio" id="option2" name="{{ user.user_id }}" value="teacher" {% if user.role == "teacher" %} checked {% endif %}>
                <label for="teacher" style="color: black;">Teacher</label>
                
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <input type="hidden" name="action" value="delete">
                <button class="button" style="background-color: red;" onclick="return confirm('Are you sure you want to delete user {{ user.user_id }}?');">
                    <label for="search" style="color: rgb(255, 255, 255); font-weight: bold; font-size: 120%;">Delete</label>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const allRadio = document.getElementById("option-all");
        const studentRadio = document.getElementById("option-student");
        const teacherRadio = document.getElementById("option-teacher");
        const searchInput = document.getElementById("search");

        function filterUsers(userType, searchText) {
            const users = document.querySelectorAll(".item1");
            users.forEach(user => {
                const userId = user.querySelector(".item-name span:first-child").textContent;
                const userName = user.querySelector(".item-name span:last-child").textContent;
                if ((userType === "all" || user.classList.contains(userType)) &&
                    (userId.includes(searchText) || userName.includes(searchText))) {
                    user.style.display = "block";
                } else {
                    user.style.display = "none";
                }
            });
        }

        allRadio.addEventListener("change", function() {
            filterUsers("all", searchInput.value.toLowerCase());
        });

        studentRadio.addEventListener("change", function() {
            filterUsers("student", searchInput.value.toLowerCase());
        });

        teacherRadio.addEventListener("change", function() {
            filterUsers("teacher", searchInput.value.toLowerCase());
        });

        searchInput.addEventListener("input", function() {
            filterUsers(document.querySelector('input[name="list"]:checked').value, this.value.toLowerCase());
        });
    });
</script>



{% endblock %}