{% extends "pre3/base.html" %}
{% block content %}

<style>
    .slide-in {
        animation: slideIn 1s ease forwards;
        opacity: 0;
        transform: translateY(-50px);
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>


<div class="grid-container">
    <div class=" block-style">
        <div style="text-align: left;">
            <label for="option-all" style="color: black;">
                All&nbsp
                <input type="radio" id="option-all" name="list" value="all" checked>
            </label>
            
            <label for="option-student" style="color: black;">
                Student&nbsp
                <input type="radio" id="option-student" name="list" value="student">
            </label>
            
            <label for="option-teacher" style="color: black;">
                &nbspTeacher&nbsp
                <input type="radio" id="option-teacher" name="list" value="teacher">
            </label>            
        </div>
        <div style="text-align: right;">
            <label for="search" style="color: black;">Search ID</label>
            <input type="text" id="search" placeholder="" style="border: none; height: 50px; width: 50%;">
        </div>
    </div>
    </br>
    
    <div class="head block-style" style="background-color: #d8d8d8; height: 40px;" >
    </div>

    {% for user in users %}
    <div class="item1 block-style {{ user.role }}">
        <div class="item-name" style="text-align: left; color: black;">
            <div>
                &nbsp&nbsp{{ user.user_id }}
                &nbsp&nbsp{{ user.name }}
            </div>
        </div>
        <div class="item-name" style="text-align: right; color: black">
            <div>
                <form>
                    &nbsp&nbsp{{ user.role }}&nbsp&nbsp
                    <input type="hidden" name="user_id" value="{{ user.user_id }}">
                    <input type="hidden" name="action" value="delete">
                    <button class="button" style="background-color: red;" onclick="return confirm('Are you sure you want to delete user {{ user.user_id }}?');">
                        <label for="search" style="color: rgb(255, 255, 255); font-weight: bold; font-size: 120%;">Delete</label>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        const allRadio = document.getElementById("option-all");
        const studentRadio = document.getElementById("option-student");
        const teacherRadio = document.getElementById("option-teacher");
        const searchInput = document.getElementById("search");

        function filterUsers(userType, searchText) {
            const users = document.querySelectorAll(".item1");
            users.forEach(user => {
                const userId = user.querySelector(".item-name div:first-child").textContent;
                const userName = user.querySelector(".item-name div:last-child").textContent;
                if ((userType === "all" || user.classList.contains(userType)) &&
                    (userId.includes(searchText) || userName.includes(searchText))) {
                    user.style.display = "block";
                } else {
                    user.style.display = "none";
                }
            });
        }

        allRadio.addEventListener("change", function() {
            filterUsers("all", searchInput.value.toLowerCase());
        });

        studentRadio.addEventListener("change", function() {
            filterUsers("student", searchInput.value.toLowerCase());
        });

        teacherRadio.addEventListener("change", function() {
            filterUsers("teacher", searchInput.value.toLowerCase());
        });

        searchInput.addEventListener("input", function() {
            filterUsers(document.querySelector('input[name="list"]:checked').value, this.value.toLowerCase());
        });
    });
</script>



{% endblock %}